.HelpBlockSpinner
	min-height: 32px !important
	// max-height: 32px !important

.spinnerContainer
	display: inline-flex !important

.helpMessage
	display: inline-block
	min-height: 32px !important
	vertical-align: middle
	line-height: 32px
	margin: 0 6px 0 0	
	font-style: italic

.helpMessageSpinner
	display: inline-block
	height: 32px !important
	vertical-align: middle
	line-height: 16px
	margin: 0 6px 0 0
	font-style: italic
