.HelpBlockSpinner
	height: 32px !important

.spinnerContainer
	display: inline-flex !important

.helpMessage
	display: inline-block
	height: 32px !important
	vertical-align: middle
	line-height: 32px
	margin: 0 6px 0 0	
	
.helpMessageSpinner
	display: inline-block
	height: 32px !important
	vertical-align: middle
	line-height: 12px
	margin: 0 6px 0 0
