.box-encrypt-header
	background-color: #428bca
	color: white

.box-encrypt-header > *
	color: white
	font-weight: normal
	
.box-encrypt-header button
	opacity: .8

.box-encrypt-header-text
	text-align: center

.box-encrypt-footer
	margin: 70px 2px 5px 2px
	
.box-encrypt-footer-message-number
	margin 0 0 0 5px
	
.containerButton
	text-align: center
	

.box-encrypt-text-encripting
	display: inline-block
	margin: -20px 0 0 0
	vertical-align: middle